.cust-pagination{
  white-space: nowrap;
  button.btn.btn-default{
    height: 27px;
    padding-top: 3px;
    padding-left: 9px;
    width: 33px;
  }
}
#go-to-pagination{
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100% - 80px);
  p{
    cursor: pointer;
    text-align: center;
  }
  .input-group{
    margin: 0 auto;
    max-width: 200px;
  }
  .btn.btn-secondary{
    color: $link;
    background-color: $navbar;
    &:hover{
      color: $link-hover;
    }
  }
}
