{% extends "layout.html" %}
{% block body %}
<section class='page' id='about'>
  <div class='person'>
    <img src='/media/headshots/trevor.jpg' width="350" height="350"/>
    <div class='content'>
      <table>
        <tr>
          <td>Name: </td>
          <td>Trevor Adam</td>
        </tr>
        <tr>
          <td>Major responsibilities: </td>
          <td>Full Stack, Design, Resident Beer Enthusiast</td>
        </tr>
        <tr>
          <td>Number of commits: </td>
          <td>61</td>
        </tr>
        <tr>
          <td>Issues: </td>
          <td>17</td>
        </tr>
        <tr>
          <td>Unit tests: </td>
          <td>0</td>
        </tr>
      </table>
      <div class='bio'>
        <span class='begin-quote'></span>
        <p>
          I’m a senior Computer Science major who is desparate to graduate on time.
          I currently work as a Freelance web developer. In July, I'll go to
          work for Amazon. I love reading, being active and drinking good beer.
        </p>
        <span class='end-quote'></span>
      </div>
    </div>
  </div>
  <div class='divider gray'></div>
  <div class='person'>
    <img src='/media/headshots/vineeth.jpg' width="350" height="350" class='hide-on-large'/>
    <div class='content'>
      <table>
        <tr>
          <td>Name:</td>
          <td>Vineeth Krishnan</td>
        </tr>
        <tr>
          <td>Major responsibilities:</td>
          <td>Documentation, RESTFul API</td>
        </tr>
        <tr>
          <td>Number of commits: </td>
          <td>18</td>
        </tr>
        <tr>
          <td>Issues: </td>
          <td>8</td>
        </tr>
        <tr>
          <td>Unit tests: </td>
          <td>0</td>
        </tr>
      </table>
      <div class='bio'>
        <span class='begin-quote'></span>
        <p>
          I am a cs student interested in web and mobile application development
          and computer security. I enjoy playing video games, watching movies and
          spending time outdoors.
        </p>
        <span class='end-quote'></span>
      </div>
    </div>
    <img src='/media/headshots/vineeth.jpg' width="350" height="350" class='hide-on-small'/>
  </div>
  <div class='divider gray'></div>
  <div class='person'>
    <img src='/media/headshots/peter.jpg' width="350" height="350"/>
    <div class='content'>
      <table>
        <tr>
          <td>Name:</td>
          <td>Peter Hong</td>
        </tr>
        <tr>
          <td>Major responsibilities:</td>
          <td>Technical report, Frontend</td>
        </tr>
        <tr>
          <td>Number of commits: </td>
          <td>4</td>
        </tr>
        <tr>
          <td>Issues: </td>
          <td>17</td>
        </tr>
        <tr>
          <td>Unit tests: </td>
          <td>0</td>
        </tr>
      </table>
      <div class='bio'>
        <span class='begin-quote'></span>
        <p>
          I am a 4th year computer science student who enjoys hiking, reading,
          and watching movies.
        </p>
        <span class='end-quote'></span>
      </div>
    </div>
  </div>
  <div class='divider gray'></div>
  <div class='person'>
    <img src='/media/headshots/kenneth.jpg' width="350" height="350" class='hide-on-large'/>
    <div class='content'>
      <table>
        <tr>
          <td>Name:</td>
          <td>Kenneth Hollinger</td>
        </tr>
        <tr>
          <td>Major responsibilities:</td>
          <td>Data Modeling, UML Diagramming and Unit Testing</td>
        </tr>
        <tr>
          <td>Number of commits: </td>
          <td>43</td>
        </tr>
        <tr>
          <td>Issues: </td>
          <td>4</td>
        </tr>
        <tr>
          <td>Unit tests: </td>
          <td>14</td>
        </tr>
      </table>
      <div class='bio'>
        <span class='begin-quote'></span>
        <p>
        I'm a Junior Computer Science and Finance major. I have interned at Fidelity
         Investments and will intern at Amazon this summer. I prefers working
         with back end, however I have limited exposure to web development.
       </p>
       <span class='end-quote'></span>
     </div>
    </div>
    <img src='/media/headshots/kenneth.jpg' width="350" height="350" class='hide-on-small'/>
  </div>
  <div class='divider gray'></div>
  <div class='person'>
    <img src='/media/headshots/eric.jpg' width="350" height="350"/>
    <div class='content'>
      <table>
        <tr>
          <td>Name:</td>
          <td>Eric Symmank</td>
        </tr>
        <tr>
          <td>Major responsibilities:</td>
          <td>Data Scraping, Backend</td>
        </tr>
        <tr>
          <td>Number of commits: </td>
          <td>13</td>
        </tr>
        <tr>
          <td>Issues: </td>
          <td>0</td>
        </tr>
        <tr>
          <td>Unit tests: </td>
          <td>0</td>
        </tr>
      </table>
      <div class='bio'>
        <span class='begin-quote'></span>
        <p>
          I’m a senior Computer Science major currently undergoing my last semester at the
           University of Texas at Austin. My previous internships have focused on front-end
           web development and mobile applications.
        </p>
       <span class='end-quote'></span>
     </div>
    </div>
  </div>
  <div class='stat-block'>
      <h2>Tools</h2>
      <ul>
        <li>
          API: <a href="https://apiary.io/">Apiary</a><a href="http://www.brewerydb.com/developers">BreweryDB</a>
        </li>
        <li>
          Collaboration: <a href="https://github.com/">Github</a> <a href="https://slack.com/">Slack</a>
        </li>
        <li>
          Database: <a href="http://www.sqlalchemy.org/">SQL Alchemy</a>
        </li>

        <li>
          Data Modeling: <a href="http://www.oracle.com/technetwork/developer-tools/datamodeler/overview/index.html">Oracle Data Modeler</a> <a href="http://yuml.me/">yUML</a>
        </li>
        <li>
          Front-end:
          <ul>
            <li><a href="http://getbootstrap.com/">Boostrap</a></li>
            <li><a href="http://compass-style.org/">Compass</a></li>
            <li><a href="http://flask.pocoo.org/">Flask</a></li>
            <li><a href="http://sass-lang.com/">Sass</a></li>
          </ul>
        </li>
        <li>
          Testing and Continuous Integration: <a href="https://travis-ci.org/">Travis CI</a><br>
        </li>
        <li> Server and Hosting
        <ul>
          <li><a href="https://getcarina.com/">Carina</a></li>
          <li><a href="https://www.docker.com/">Docker</a></li>
          <li><a href="https://www.namecheap.me/">Namespace</a></li>
          <li><a href="http://www.rackspace.com/">Rackspace</a></li>
        </ul>
      </ul>
  </div>
  <div class='stat-block'>
      <h2>Team Stats</h2>
      <ul>
          <li>Total Number of Commits: 132</li>
          <li>Total Number of Issues: 46</li>
          <li>Total Number of Unit Tests: 14</li>
          <li><a href='https://speakerdeck.com/hongp/idb' target='_blank'>Our speakerdeck</a></li>
          <li><a href="http://docs.tipsyturkey.apiary.io//" target=”_blank”>Our Apiary API page</a></li>
          <li><a href="/sweagueapi" target=”_blank”>Sweague API page</a></li>
          <li><a href="https://github.com/hongp/cs373-idb" target=”_blank”>Team GitHub Repository</a></li>
          <li><a href="https://github.com/hongp/cs373-idb/issues" target=”_blank”>Team GitHub Issue Tracker</a></li>
          <li><a href="https://github.com/hongp/cs373-idb/wiki" target=”_blank”>Team GitHub Wiki</a></li>
      </ul>
  </div>
  <div class='stat-block'>
      <h2>Data</h2>
      <ul>
          <li>Data Source: <a href="http://www.brewerydb.com/developers" target=”_blank”>Brewery DB</a></li>
          <li>Data Scraping: <a href="https://github.com/hongp/cs373-idb/wiki/Data-Scraping" target=”_blank”>link</a></li>
      </ul>
  </div>
  <a href="/tests"> <button> Run Tests </button> </a>
</section>
{% endblock %}
